body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
    background: black;
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h1 {
    color: white;
    font-size: 40px;
    padding: 13px 0; 
  }
  
  main {
    max-width: 686px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    height: 550px;
  }
  
  .checkout-section {
    margin-bottom: 20px;
  }
  
  h2 {
    color: #333;
  }
  
  form {
    display: grid;
    gap: 36px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  input[type="button"] {
    background-color: black;
    color: #fff;
    cursor: pointer;
  }
  
  footer {
    text-align: center;
    margin-top: 20px;
    color: gainsboro;
  }